@media (max-width: 979px) {
    .jumbotron {
        padding-top: 75px;
    }
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("../images/forest.jpg");
    background-size: cover;
    background-position: center;
}

section.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.jumbotron >h1 {
    display: inline-block;
    color: white;
    font-weight: 450;
    padding: 10px 35px;
    border-radius: 5px;
    text-shadow: -1px 1px 2px #23430C,
    1px 1px 2px #23430C,
    1px -1px 0 #23430C,
    -1px -1px 0 #23430C;
}

.jumbotron .row {
    align-content: center;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}