
html,
body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 300px; /* height of your footer */
}

.jumbotron {

    background-image: url("../images/forest.jpg");
    background-size: cover;
    background-position: center;
}

section.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.jumbotron h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 450;
    padding: 10px 35px;
    border-radius: 5px;
    text-shadow: -1px 1px 2px #23430C,
    1px 1px 2px #23430C,
    1px -1px 0 #23430C,
    -1px -1px 0 #23430C;
}
.jumbotron h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 450;
    padding: 10px 35px;
    border-radius: 5px;
    text-shadow: -1px 1px 2px #23430C,
    1px 1px 2px #23430C,
    1px -1px 0 #23430C,
    -1px -1px 0 #23430C;
}

#homeButton {
    display: flex;
    justify-content: center;
}
.jumbotron .row {
    align-content: center;
    justify-content: center;
}


@media screen and (max-width: 1024px){
    body{
        margin-bottom: 0;
    }
    .footer {
        position: relative;
    }
}

header nav {
    display: flex;
    justify-content: flex-end;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1d2b1c;
    color: #f8f8f8;
}

/*.page-footer {
    position: relative;
    margin-top: -150px; !* negative value of footer height *!
    height: 150px;
    clear:both;
    padding-top:20px;
}*/
footer a{
    color: #f8f8f8;
}

.btn-form, .btn {
    background-color: #589415;
    color: #f8f8f8;
    margin-top: 15px;
}

.btn-primary {
    background-color: #589415;
    color: #f8f8f8;
    margin-top: 15px;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
    .offcanvas-header{ display:block; }
    .navbar-collapse {
        position: fixed;
        top:0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: black;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.err {
    color: darkred;
    display: none;
}

.navbar-toggle {
    margin-top: 30px;
}

@media screen and (max-width:767px) {
    .navbar .navbar-collapse {
        background: #f8f8f8;
        position: absolute;
        width: 100%;
    }
}

#sidebox {
    background-color: #589415;
    color: white;
    font-size: 18px;
}


